:root {
    --bg: #111;
    --txt: #eee;
    --bg-grey: #242526;
    --txt-grey: #dbdad9;
    --form-box: rgba(255, 255, 255, 0.5);
    --setting-nav: #323232;
}

.App {
    background-color: var(--bg);
    color: var(--txt);
}

.white {
    --bg: #eee;
    --txt: #111;
    --bg-grey: #dbdad9;
    --txt-grey: #242526;
    --form-box: #eee;
    --setting-nav: #cccccc;
}

.color-trans {
    background-color: var(--txt-grey);
    color: var(--bg);
}

.txt-color-app {
    color: var(--txt);
}

.btn,
.form-select,
.form-select:active,
.form-select:focus,
.form-select:focus:active,
.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
    /* background-color: var(--form-box) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: var(--txt); */
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #88bef5;
    text-decoration: none;
}

.btn:hover {
    color: inherit;
}

.page-wrapper {
    padding-top: 4.4rem;
    min-height: 100vh;
}

.element-wrapper {
    background-color: rgba(127, 127, 127, 0.3);
    width: 100%;
}

.bg-grey-trans {
    background-color: var(--setting-nav);
}

.bg-card {
    background-color: rgba(0, 0, 0);
}

.bg-cyan-blur {
    background-color: #88bef5;
}

.modal-content {
    background-color: #383838;
    color: var(--txt);
}

.error {
    color: #df4759;
}

.opacity-blur {
    opacity: 0.6;
}

.w-fit-content {
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .element-wrapper {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
}
